.container {
	
    overflow:auto;
    align-items: center;
    
};
.header{
    position: relative;
}		
.navbar {
    
    background-color: white;
   		
}
img {

    top: 50%;
    width: 50%;
    max-width: 50%;
    size: 50;
}
.img-logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 10%;
    position: center;

}
.sub-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
   float: right;
   flex: 1 1 15;
      color: darkgrey;
      align-content: right;
      justify-content: flex-start;
  }
.advert {
    width: 100%;
    display:flex;
      border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    height: 40px;
    position: absolute;
    left: 0%;
    margin-left: -3px;
    align-content: center;
  justify-content: flex-center;
padding-bottom: 20px;
      }
    
      .space {
        width: 100%;
         border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
        height: 40px;
        position: absolute;
        left: 0%;
        margin-left: -3px;
    padding-bottom: 20px;
    align-content: center;
  justify-content: flex-center;
          }
          .space {
            width: 100%;
            display: block;
            border-top: 1px solid darkgrey;
            border-bottom: 1px solid darkgrey;
            height: 40px;
            position: absolute;
            left: 0%;
            margin-left: auto;
    margin-right: auto 
        padding-bottom: 20px;
        align-content: center;
      justify-content: flex-center;
              }
p {
    position: center;
}
.all-text {
    position: center;
}
