.container {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
body {
  padding: 65px;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
  padding-bottom: o;
}
.main_menu {
  position: static;
  justify-content: space-evenly;
  
}

.img-menu {
  height: 30px;
  width: 30px;
  float: left;
  margin-left: 30px;
  position: flex;
  justify-content: space-evenly;
}
.img-search {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  position: flex;
  justify-content: space-evenly;
}
.section-title {
    display: block;
    position: absolute;
    left: 105px;
    line-height: 19px;
    top: 10px;
  
}
img {
  top: 50%;
  width: 100%;
  size: 50;
}
.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 30%;
  margin-top: 30px;
  position: center;
  text-size-adjust: 100%;
  /* position: flex;
  justify-content: space-evenly; */
}
.sub-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
  float: right;
  /* flex: 1 1 15; */
  align-content: right;
  position: flex;
  
}
.title_style {
    width: 100%;
    margin: auto;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-weight: 500;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 700px;
  
}

.cambridge {
  text-align: left;
  width: 50%;
  bottom: 0;
  margin: 0 auto;
  line-height: 2;
}
.all-buttons {
  background-color: blue;
}

p {
  position: center;
}
.all-text {
  position: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  max-width: 100%;
  grid-template-columns: 30% 30% 30%;

}

.grid-container3 {
  display: grid;
  grid-template-columns: 75% 25%; 
  
} 
.grid-important {
  max-width: 25%;
}
.grid-item {
  padding: 20px;
  text-align: left;
}

.grid-item img {
  height: 150px;
  top: 50%;
  width: 100%;
  size: 50;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
footer {
  text-align: left;
  margin: 1.5%;
}

.footer-line {
  margin: 1% 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(6, auto);
  padding-right: 10px;
}

.footer-links {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.footer-links:hover {
  text-decoration: underline;
}
.footer-header {
  font-size: 13px;
  font-weight: 700;
}
.vertical-line {
  opacity: 0.5;
  margin-right: -120px;
  height: 390px;
}

.editors {
  float: right;
  width: 220px;
  height: auto;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.article {
  display: flex;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.article-image {
  width: 70px;
  height: 70px;
}

.editor-text {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  text-align: left;
}

.editor-text:hover {
  text-decoration: underline;
}

.author-name {
  text-align: left;
  font-weight: bold;
  margin-top: -20px;
  padding-bottom: 0;
}

.date {
  text-align: left;
  font-weight: lighter;
  list-style: none;
  margin-left: 12%;
  font-size: 0.8em;
}

.section-break {
  text-align: center;
  font-size: 0.8em;
}

.section-break-link {
  text-decoration: none;
  color: blue;
}

.section-break-line {
  width: 80px;
  opacity: 0.8;
  margin: 30px 37%;
}

.section-break-link:hover {
  text-decoration: underline;
}

.section-ul {
  list-style-type: none;
  margin-right: 200px;
  padding: 20px 0;
}

.telescope-fig {
  width: 60%;
  margin-left: -9rem;
}

.telescope-caption {
  margin: 0 27% 0 12%;
}

.last-caption {
  margin: 0 28% 0 15%;
  text-align: left;
  line-height: 1.1rem;
  padding: 10px 0;
  font-size: 0.7rem;
  opacity: 0.6;
}

.last-caption-links:hover {
  text-decoration: none;
  color: blue;
}

.inflation-caption {
  margin-bottom: 5px;
}

.inflation-class {
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 0.7rem;
  padding: 2% 5% 0 1%;
  position: absolute;
  margin-right: -80px;
  top: 12.9rem;
}

.text-flex {
  padding: 20px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 0.7rem;
  padding: 2% 5% 0 1%;
  position: absolute;
  margin-right: -80px;
  top: 34rem;
}

/* .logo {
  width: 200px; */
  .logos {
    width: 200px;
  }

.footer-logo {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-bottom: 20px;
  

}

.footer-logo a {
  text-decoration: none;
}

.bottom-button {
  display: flex;
  justify-content: space-between;
  padding: 0 28% 0 15%;
}

.bottom-icon {
  margin-top: 15px;
}

.bigger-text {
  font-size: 1rem;
}

.last-footer-section {
  line-height: 1.6;
}

.last-footer-section-hr {
  margin-bottom: 15px;
  opacity: 0.8;
}
.copyright {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 0 7%;
}

.copyright-link {
  text-decoration: none;
}

.copyright-link:hover {
  text-decoration: underline;
}
